{% extends 'base.html' %} {% load widget_tweaks %} {% block auth %} 
{% include '_partials/navbar.html' %} {% include 'dashboard.html' %} {% endblock auth %} 
 {% block content %}
 {% load static %}
<div class="main-content">
  <div class="section-body">  
  <div class="form-group col-md-12" id="KAL">
  
    <form id="search-form" method="POST" action="{% url 'back_date_registration' %}" autocomplete="off">
            {% csrf_token %}
       {% comment %} hx-post='{% url 'search-patient' %}' hx-target="#results"
      hx-trigger="keyup changed delay:500ms"  {% endcomment %}
      
     
      <div class="d-flex" style="width:100%;">
        <div>
          <label for="inputZip">Date</label>
          {% render_field form_back_date.date type='date'   class="form-control"  %}
        </div>
          <div class "form-group col-md-2" >
              <label for="inputZip">Patient no</label>
            {% render_field form_back_date.patient_no   class="form-control"  %}
          </div>
          
          <div>
            <label for="inputZip">Patient Type</label>
          {% render_field form_back_date.patient_type   class="form-control"  %}
          </div>
          <div>
            <button class="btn btn-primary mt-4 ml-2" >Submit</button>
          </div>

      </div>
    </form>
  
  </div>
    {% if res %}
    <form method="POST" action={% url 'back-date-registration' %}>
      <div class="card">
        <div class="card-header">
          <h4>Pysio Session</h4>
        </div>
        
        
          <div class="card-body">
            {% csrf_token %}

            <div class="form-row">
              <div class="form-group col-md-12">
                {% comment %}
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Search ByN </label>
                    <input name="search_text" type="text" class="form-control"
                    hx-post='{% url 'search-patient' %}' hx-target="#results"
                    hx-trigger="keyup changed delay:500ms" />
                  </div>
                  <div class="form-group col-md-4">
                    <label>Patient</label>
                    <input name="search_text" type="text" class="form-control"
                    hx-post='{% url 'search-patient' %}' hx-target="#results"
                    hx-trigger="keyup changed delay:500ms" />
                  </div>
                </div>
                {% endcomment %}
              
                <div class="form-row">
                  <div class="card d-none" id="results-box">
                    <div class="card-body"></div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="inputZip">Date</label>
                    <input type="date"   class="form-control"  value={{res.visitdate }} readonly>
                  </div>
                  <div class="form-group col-md-2" >
                    <label for="inputZip">First Name</label>
                    
                    <input type="text"   class="form-control"  value={{res.firstname }} readonly>
                   
                  </div>
                  <div class="form-group col-md-2" >
                    <label for="inputZip">Surname Name</label>
                    
                    <input type="text"   class="form-control"  value={{res.surname }} readonly>
                   
                  </div>
                  <div class "form-group col-md-2" >
                    {% comment %} <div class="d-flex flex-row"> {% endcomment %}
                      <label for="inputZip">Patient No</label>
                    
                      <input type="text"   class="form-control"  value={{res.pin_no }} readonly>

                    {% comment %} </div> {% endcomment %}
               
                  </div>
                  
                  <div class "form-group col-md-2 " id="admission_no" style="margin-left: 5px;">
               
                  </div>
                  
                </div> 
                <div class="form-row">
                  <div class "form-group col-md-2" >
                    <div class="d-flex flex-row" id="multiple_input">
                    {% for data in res.receipt_no  %}
                    {% if data.receiptno_id %}
                      <div style="margin-left: 5px;">
                        <label for="inputZip">Receipt</label>
                        
                        <input type="text"   class="form-control"  value={{data.receiptno_id }} readonly>
                      </div>
                      {% elif data.invoiceno %}
                      <div>
                        <label for="inputZip">Invoice</label>
                          
                        <input type="text"   class="form-control"  value={{data.invoiceno }} readonly>
                      </div>
                      {% endif %}
                    <div style="margin-left: 5px;">
                        <label for="inputZip">Visitno no</label>
                        
                        <input type="text"   class="form-control"  value={{data.visitno_id }} readonly>
                    </div>
                    
                    <div>

                      <label for="inputZip">Quantity </label>
                      
                      <input type="text"   class="form-control"  value={{data.quantity }} readonly>
                    </div>
                    
                    {% endfor %}

                    </div>

                  </div>
                 
            
                  <div class "form-group col-md-2" id="pin_no">
               
                  </div>
                  
                  <div class="form-group col-md-2" id="patient_surname">
                   
                  </div>
                 
                  <div class="form-group col-md-2" id="patient_name">
                   
                  </div>
                
                  
                  <div class "form-group col-md-2" id="patient_id">
               
                  </div>

                  <div class="form-group col-md-2" id="patient_type">
                  </div> 
                                  
                </div>
               
               
              
               
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label>Diagnosis</label>
                    {% render_field form.diagnosis   class="form-control"  %}
                  </div>                 
                  <div class="form-group col-md-2">
                      <label>Doctor</label>
                      {% render_field form.doctor type="text" class="form-control" value=data.cables %}
                  </div>
                  {% comment %} <div class="form-group col-md-2">
                    <label for="inputZip">Ward</label>
                    {% render_field form.ward   class="form-control"  %}
                  </div> {% endcomment %}
                  
                  <div class="form-group col-md-2">
                    <label>More Notes</label>
                   
                      {% render_field  form.more_notes  class="form-control"  %}
                    
                    </div>
                 
                  
                </div>
                {% comment %} <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="inputZip">Therapy</label>
                    <div style="border:2px solid #ccc; width:300px; height: 300px; overflow-y: scroll;" class="form-control">
                      {{ form.therapy   }} 
                    
                    </div>
                    
                  </div> 
                </div> {% endcomment %}
              </div>
              <div class="card-footer">
                <button class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </form>
    {% endif %}

      </div>

    </form>
  </div>
</div>
{% endblock content %}



