
  {% extends 'base.html' %} {% load widget_tweaks %} {% block auth %} 
{% include '_partials/navbar.html' %} {% include 'dashboard.html' %} {% endblock auth %} 
{% load static %} 
{% block content %}
 
<div class="main-content">

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
          <li class="breadcrumb-item">
            <h4 class="page-title m-b-0">Profile</h4>
          </li>
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'physio-session' %}">
              Record a Physio Session
            </a>
          
          </li>
          <li class="breadcrumb-item">Profile</li>
        </ul>
        <div class="section-body">
          <div class="row mt-sm-4">
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card author-box">
                <div class="card-body">
                  <div class="author-box-center">
                    <img alt="image" src="{% static 'images/images.png' %}" class="rounded-circle author-box-picture">
                    <div class="clearfix"></div>
                    <div class="author-box-name">
                      <a href="#"> {{ patient.surname }} {{ patient.first_name }}</a>
                    </div>
                    {% comment %} <div class="author-box-job">Web Developer</div> {% endcomment %}
                  </div>

                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h4>Personal Details</h4>
                </div>
                <div class="card-body">
                  <div class="py-4">
                    <p class="clearfix">
                      <span class="float-left">
                        Birthday
                      </span>
                      <span class="float-right text-muted">
                        {{ patient.date_of_birth }}
                      </span>
                    </p>
                    <p class="clearfix">
                      <span class="float-left">
                        Phone
                      </span>
                      <span class="float-right text-muted">
                        {{ patient.phone_number }}
                      </span>
                    </p>
                    
                    <p class="clearfix">
                        <span class="float-left">
                        Gender
                        </span>
                        <span class="float-right text-muted">
                         {{ patient.gender }}
                        </span>
                      </p>
                 
                  </div>
                </div>
              </div>
             
            </div>
            <div class="col-12 col-md-12 col-lg-8">
              <div class="card">
                <div class="padding-20">
                  <ul class="nav nav-tabs" id="myTab2" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab"
                        aria-selected="true">CURRENT ADMISSION</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#settings" role="tab"
                        aria-selected="false">CLOSED ADMISSIONS</a>
                    </li>
                  </ul>
                  <div class="tab-content tab-bordered" id="myTab3Content">
                    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                      <div class="row">
                        <div class="col-md-3 col-6 b-r">
                          <strong>Full Name</strong>
                          <br>
                          <p class="text-muted">{{ patient.get_full_name }}</p>
                        </div>
                        <div class="col-md-3 col-6 b-r">
                          <strong>Mobile</strong>
                          <br>
                          <p class="text-muted">{{ patient.phone_number }}</p>
                        </div>
                        <div class="col-md-3 col-6">
                          <strong>Location</strong>
                          <br>
                          <p class="text-muted">{{ patient.address }}</p>
                        </div>
                      </div>
                     
                         
                        {% if patient_has_running_admissions == "False" %}
                       <div>   
                        <h5><strong> {{ patient.get_full_name }} DOES NOT HAVE ANY ADDMISSIONS CURRENTLY</strong></h5>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_3">Create Admission</button>
        
                      </div> 
                        {% else %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add New payment detials</button>
                         
                        <div>
                            <hr style="border: 2px solid black; margin: 10px 0;">
                                <div class="card-header">
                                    <h4>Payment</h4>
                                </div>
                                

                                <div class="card-body">
                                      {% for admission in physiosession_admin %}
                                      
                      
                                    <div class=" d-flex justify-content-between section-title mt-0">
                                        <p>{{ admission.admission_no }} </p>
                                        <button onclick="get_patient_admission_id('{{ patient.patient_no }}')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_1" > Close Addmission</button>

                            
                                    </div>
                                      <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Receipt</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Date of payment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                {% for receipt in admission.payement_info %}
                                                <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ receipt.receipt_number }}</td>
                                                <td>{{ receipt.quantity_of_session }}</td> 
                                                <td>{{ receipt.payment_date }}</td> 
                                                </tr>
                                                {% endfor %}
                                        
                                            
                                        </tbody>
                                      </table>
                                </div>
                                {% endfor %}

                        </div>
                        <div>
                              <hr style="border: 2px solid black; margin: 10px 0;">
                              <div class="card-header">
                                  <h4>Physio Session Attended</h4>
                              </div>
                              

                              <div class="card-body">
                                  {% for admission in physiosession_admin %}
                                  <div class="section-title mt-0">{{ admission.admission_no }}</div>
                                  <table class="table table-bordered">
                                  <thead>
                                      <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Physio Session No</th>
                                          <th scope="col">Quantity</th>
                                          <th scope="col">Date </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                          {% for physiosession in admission.physiosession_attended %}
                                            {% for p in physiosession %}
                                          <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <td>{{ p.physiosession_no }}</td>
                                          <td>{{ p.therapist }}</td> 
                                          <td>{{ p.created_at }}</td> 
                                          </tr>
                                            {% endfor %}
                                            <h5><strong>Total Number of Sessions Attended</strong>: {{ physiosession|length }}</h5>
                                            <h5><strong>Total Number of Sessions Left</strong>: {{ admission.number_of_session_left }}</h5>
                                            
                                          {% endfor %}
                                    
                                      
                                  </tbody>
                                  </table>
                              </div>
                              {% endfor %}

                        </div>
                      {% endif %}  

                    </div>
                    {% comment %}! ----------------------- settting ---------------------------- {% endcomment %}
                      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                        {% if patient_has_close_admissions == "True"  %}
                        <P><strong>CLOSED ADDMISSIONS</strong></p>
                          <div>
                            <hr style="border: 2px solid black; margin: 10px 0;">
                            <div class="card-header">
                                <h4>Payment</h4>
                            </div>
                        
                            <div class="card-body">
                                {% for admission in closed_admission_physiosession_admin %}
                                <div class="d-flex justify-content-between section-title mt-0">
                                    <p>{{ admission.admission_no_closed }}</p>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Receipt</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Date of payment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for receipt in admission.closed_admission_payement_info %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ receipt.receipt_number }}</td>
                                            <td>{{ receipt.quantity_of_session }}</td>
                                            <td>{{ receipt.payment_date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                          <hr style="border: 2px solid black; margin: 10px 0;">
                          <div class="card-header">
                              <h4>Physio Session Attended</h4>
                          </div>
                      
                          <div class="card-body">
                              {% for admission in closed_admission_physiosession_admin %}
                              <div class="section-title mt-0">{{ admission.admission_no_closed }}</div>
                              <table class="table table-bordered">
                                  <thead>
                                      <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Physio Session No</th>
                                          <th scope="col">Quantity</th>
                                          <th scope="col">Date</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for physiosession in admission.closed_admission_physiosession_attended %}
                                          {% for p in physiosession %}
                                              <tr>
                                                  <th scope="row">{{ forloop.counter }}</th>
                                                  <td>{{ p.physiosession_no }}</td>
                                                  <td>{{ p.therapist }}</td>
                                                  <td>{{ p.created_at }}</td>
                                              </tr>
                                          {% endfor %}
                                          <h5><strong>Total Number of Sessions Attended</strong>: {{ physiosession|length }}</h5>
                                          {% comment %} <h5><strong>Total Number of Sessions Left</strong>: {{ admission.number_of_session_left }}</h5> {% endcomment %}
                                      {% endfor %}
                                  </tbody>
                              </table>
                              {% endfor %}
                          </div>
                      </div>
                    
                      {% else %}
                      <h5><strong> {{ patient.get_full_name }} DOES NOT HAVE ANY CLOSED ADDMISSIONS</strong></h5>
                      
                        {% endif %}

                      {% comment %} <form method="post" class="needs-validation">
                        <div class="card-header">
                          <h4>Edit Profile</h4>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="form-group col-md-6 col-12">
                              <label>First Name</label>
                              <input type="text" class="form-control" value="John">
                              <div class="invalid-feedback">
                                Please fill in the first name
                              </div>
                            </div>
                            <div class="form-group col-md-6 col-12">
                              <label>Last Name</label>
                              <input type="text" class="form-control" value="Deo">
                              <div class="invalid-feedback">
                                Please fill in the last name
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-md-7 col-12">
                              <label>Email</label>
                              <input type="email" class="form-control" value="test@example.com">
                              <div class="invalid-feedback">
                                Please fill in the email
                              </div>
                            </div>
                            <div class="form-group col-md-5 col-12">
                              <label>Phone</label>
                              <input type="tel" class="form-control" value="">
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-12">
                              <label>Bio</label>
                              <textarea
                                class="form-control summernote-simple">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias minus quod dignissimos.</textarea>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group mb-0 col-12">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="remember" class="custom-control-input" id="newsletter">
                                <label class="custom-control-label" for="newsletter">Subscribe to newsletter</label>
                                <div class="text-muted form-text">
                                  You will get new information about products, offers and promotions
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer text-right">
                          <button class="btn btn-primary">Save Changes</button>
                        </div>
                      </form> {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  {% comment %} !<!-- Modal with form 1--> {% endcomment %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModal">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" method="POST" >
          {% csrf_token %}
          <div class="form-group">
            <label>Date of payement</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                <i class="far fa-calendar-alt"></i>

                </div>
              </div>
              <input type="date" class="form-control" placeholder="Date" name="date" min="{{ date_string }}"  >
            </div>
          </div>
          <div class="form-group">
            <label>Reciept  No  (format "R23064414")</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  {% comment %} <i class="fas fa-lock"></i> {% endcomment %}
                  <i class="fas fa-font"></i>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Receipt no" name="receipt">
            </div>
          </div>
    
          <button type="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
     {% comment %}!  <!-- Modal with form 2 --> {% endcomment %}
     <div class="modal fade" id="exampleModal_1" tabindex="-1" role="dialog" aria-labelledby="formModal"
     aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="formModal">Close Admission</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>

           </div>
           <div class="modal-body">
             <form class="" method="POST" >
               {% csrf_token %}
               <div class="form-group" >
                 <label>Close Admission</label>
                 <div class="input-group">
                   <div class="input-group-prepend">
                     <div class="input-group-text">
                     <i class="fas fa-caret-right"></i>

                     </div>
                   </div>
       
                   <input type="text" class="form-control" id="patient_admission_no" name="admission_no"  >
                 </div>
               </div>
           
              <div class="d-flex">
                <p style="color:red;"><b>  ARE YOU SURE YOU WANT TO CLOSE THIS ADMISSION</b></p>
                <button type="submit" class="btn btn-danger m-t-15 waves-effect">CLOSE ADMISSION</button>

              </div>
             </form>
           </div>
         </div>
       </div>
     </div>
     {% comment %}! close modal {% endcomment %}

     {% comment %}!  <!-- Modal with form 3 --> {% endcomment %}
     <div class="modal fade" id="exampleModal_3" tabindex="-1" role="dialog" aria-labelledby="formModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModal">Creating New Admission</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" method="POST"  autocomplete="off" >
          {% csrf_token %}
          <div class="form-group">
            <label>Patient No</label>
            <div class="input-group">
              <input  type="text" name="patient_no" class="form-control" value={{ patient.patient_no }} readonly />
              
            </div>
          </div>
          <div class="form-group">
            <label>Date of payement</label>
            <div class="input-group">
              
              <input type="date" class="form-control" placeholder="Date" name="date" min="{{ date_string }}"  >
            </div>
          </div>
          <div class="form-group">
            <label>Reciept  No  (format "R23064414")</label>
            <div class="input-group">
             
              <input type="text" class="form-control" placeholder="Receipt no" name="receipt" >
            </div>
          </div>
          <div class="form-group">
            <label>Doctor </label>
            <div class="input-group">
             
              {% render_field form.doctor class="form-control"  %}
            </div>
          </div>
          <div class="form-group">
            <label>Diagnosis</label>
            <div class="input-group">
              
              {% render_field form.diagnosis class="form-control"  %}

            </div>
          </div>
      
          <div class="form-group">
            <label>More Notes</label>
            <div class="input-group">
              {% render_field  form.more_notes  class="form-control"  %}
              
            </div>
          </div>
        
          
    
          <button type="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
     {% comment %}! close modal {% endcomment %}

 
</div>
{% endblock content %}



