{% extends 'base.html' %}
 {% load widget_tweaks %} 
 {% block auth %} {% include '_partials/navbar.html' %} 
 {% include 'dashboard.html' %} 
 {% endblock auth %} 
 {% load static %} {% block content %}
<div class="main-content">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Export Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-striped table-hover"
                id="tableExport"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Date</th>

                    <th>ADMISSION NO</th>
                    <th>PHYSIO SESSION NO</th>
                    <th>SESSION LEFT</th>
                    
                    <th>Diagnosis</th>
                    <th>Therapy</th>
                    <th>Ward</th>
                    <th>Patient Type</th>
                    <th>Physiotherapist</th>
                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>
                  {% for p in physiosession %}

                  <tr>
                    <td>{{ p.created_at }}</td>

                    
                    <td>{{ p.admission_no }}</td>
                    <td>{{ p.physiosession_no }}</td>
                    <td >
                      {{ p.number_of_sessions_left }}
                    </td>
                   
                    <td>{{ p.diagnosis }}</td>
                      <td>
                          <ul>
                              {% for t in  p.therapy %}
                                  <li>{{ t }}</li>
                              {% endfor %}
                          </ul>
                      </td>
                 
                    <td>{{ p.ward }}</td>
                                                            
                    <td>{{ p.patient_type}}</td>
                    <td>{{ p.therapist }}</td>
                    <td><a href="{% url 'patient_profile'  p.patient_no  %}" class="btn btn-primary">Detail</a></td>
                    
                  
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block datatables %}
<!-- Page Specific JS File -->
<!-- Page Specific JS File -->
<script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/page/datatables.js' %}"></script>
<!-- END Page Specific JS File -->

{% endblock datatables %}
