{% extends 'base.html' %} {% load widget_tweaks %} 
{% block auth %} 
{% include '_partials/navbar.html' %} 
{% include 'dashboard.html' %} 
{% endblock auth %} 


{% block content %}
<div class="main-content">
    <div class="section-body">

        <div class="card">
            <div class="card-header">
              <h4>Register Doctor</h4>
            </div>
            <div class="card-body">
                <form method="POST">

                    {% csrf_token %}
           
              <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Name</label>
                    {% render_field form.name type="text" class="form-control" value=data.type autocomplete="off" hx-post="/check_doctor/" hx-trigger="keyup" hx-target="#doctor-error" hx-swapp="outerhtml" %}
                    <div id='doctor-error'>
                     
                    </div>
                </div>
                <div class="form-group col-md-12">
                  <label>Specialist</label>
                  {% render_field form.specialist type="text" class="form-control" value=data.type  autocomplete="off" %}
               
              </div>
               
             </div>
              <div class="form-row">
                <div class="form-check">
                    {% render_field form.status  class="form-check-input" type="checkbox" id="defaultCheck1"   %}

                    <label class="form-check-label" for="defaultCheck1">
                    Status
                    </label>
                  </div>
              </div>  
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" id="toastr-4">Submit</button>
            </div>
        </form>
   </div>
</div>


{% endblock content %}

