







{% extends 'base.html' %} {% load widget_tweaks %} 
{% block auth %} 
{% include '_partials/navbar.html' %} 
{% include 'dashboard.html' %} 
{% endblock auth %} 
{% load static %}




{% block content %}
<div class="main-content">
<div class="section-body">
  
<section class="section">
    <ul class="breadcrumb breadcrumb-style ">
      <li class="breadcrumb-item">
        <h4 class="page-title m-b-0">Dashboard</h4>
      </li>
      <li class="breadcrumb-item">
        <a href="index.html">
          <i class="fas fa-home"></i></a>
      </li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ul>
    <div class="row">
     
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-statistic-4">
            <div class="info-box7-block">
              <h6 class="m-b-20 text-right">Physio Session</h6>
              <h4 class="text-right"><i class="fas fa-ticket-alt pull-left bg-indigo c-icon"></i>
             
           
              <span id="day-data">
                {{physio_sessions}}
              </span>

              </h4>
              <p class="mb-0 mt-3" >More Details</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-statistic-4">
            <div class="info-box7-block">
              <h6 class="m-b-20 text-right">Out Patient</h6>
              <h4 class="text-right"><i class="fas fa-users pull-left bg-cyan c-icon"></i><span>{{ outpatient }}</span>
              </h4>
              <p class="mb-0 mt-3" >More Details</p>
            </div>
          </div>
       
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-statistic-4">
            <div class="info-box7-block">
              <h6 class="m-b-20 text-right">In Patient</h6>
              <h4 class="text-right"><i
                  class="fas fa-ticket-alt pull-left bg-green c-icon"></i><span>{{ inpatient }}</span>
              </h4>
              <p class="mb-0 mt-3" >More Details</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-8 col-md-12 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h4>Revenue Chart</h4>
          </div>
          <div class="card-body">
            {% comment %} <ul class="list-inline text-center m-b-0">
              <li class="list-inline-item p-r-30"><i data-feather="arrow-up-circle" class="col-green"></i>
                <h5 class="m-b-0">$675</h5>
                <p class="text-muted font-14 m-b-0">Weekly Earnings</p>
              </li>
              <li class="list-inline-item p-r-30"><i data-feather="arrow-down-circle" class="col-orange"></i>
                <h5 class="m-b-0">$1,587</h5>
                <p class="text-muted font-14 m-b-0">Monthly Earnings</p>
              </li>
              <li class="list-inline-item p-r-30"><i data-feather="arrow-up-circle" class="col-green"></i>
                <h5 class="mb-0 m-b-0">$45,965</h5>
                <p class="text-muted font-14 m-b-0">Yearly Earnings</p>
              </li>
            </ul> {% endcomment %}
            <div id="revenue1"></div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 col-lg-4">
       
      </div>
    </div>
  
    <div class="row">
      {% comment %} <div class="col-12 col-sm-12 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4>Therapist Report </h4>
          </div>
          <div class="card-body">
            <div class="recent-report__chart">
              <div id="barImg"></div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Chart</h4>
          </div>
          <div class="card-body">
            <div class="recent-report__chart">
              <div id="pieChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Assign Project List</h4>
            <div class="card-header-form">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-btn">
                    <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card-body">
            <div class="dropdown d-inline mr-2">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Easy Dropdown
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Cust.</th>
                    <th>Project</th>
                    <th>Assign Date</th>
                    <th>Team</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tr>
                  <td class="table-img"><img src="assets/img/users/user-8.png" alt="">
                  </td>
                  <td>
                    <h6 class="mb-0 font-13">Wordpress Website</h6>
                    <p class="m-0 font-12">
                      Assigned to<span class="col-green font-weight-bold"> Airi Satou</span>
                    </p>
                  </td>
                  <td>20-02-2018</td>
                  <td class="text-truncate">
                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-8.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Wildan Ahdian"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-9.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="John Deo"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-10.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Sarah Smith"></li>
                      <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                    </ul>
                  </td>
                  <td>
                    <div class="badge-outline col-red">High</div>
                  </td>
                  <td class="align-middle">
                    <div class="progress-text">50%</div>
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-success" data-width="50%"></div>
                    </div>
                  </td>
                  <td>
                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i
                        class="fas fa-pencil-alt"></i></a>
                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i
                        class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="table-img"><img src="assets/img/users/user-1.png" alt="">
                  </td>
                  <td>
                    <h6 class="mb-0 font-13">Android Game App</h6>
                    <p class="m-0 font-12">
                      Assigned to<span class="col-green font-weight-bold"> Sarah Smith</span>
                    </p>
                  </td>
                  <td>22-05-2019</td>
                  <td class="text-truncate">
                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-4.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Wildan Ahdian"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-7.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="John Deo"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-2.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Sarah Smith"></li>
                      <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                    </ul>
                  </td>
                  <td>
                    <div class="badge-outline col-green">Low</div>
                  </td>
                  <td class="align-middle">
                    <div class="progress-text">55%</div>
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-purple" data-width="55%"></div>
                    </div>
                  </td>
                  <td>
                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i
                        class="fas fa-pencil-alt"></i></a>
                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i
                        class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="table-img"><img src="assets/img/users/user-5.png" alt="">
                  </td>
                  <td>
                    <h6 class="mb-0 font-13">Java Web Service</h6>
                    <p class="m-0 font-12">
                      Assigned to<span class="col-green font-weight-bold"> Cara Stevens</span>
                    </p>
                  </td>
                  <td>11-04-2019</td>
                  <td class="text-truncate">
                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-3.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Wildan Ahdian"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-7.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="John Deo"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-8.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Sarah Smith"></li>
                      <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                    </ul>
                  </td>
                  <td>
                    <div class="badge-outline col-blue">Medium</div>
                  </td>
                  <td class="align-middle">
                    <div class="progress-text">70%</div>
                    <div class="progress" data-height="6">
                      <div class="progress-bar" data-width="70%"></div>
                    </div>
                  </td>
                  <td>
                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i
                        class="fas fa-pencil-alt"></i></a>
                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i
                        class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="table-img"><img src="assets/img/users/user-9.png" alt="">
                  </td>
                  <td>
                    <h6 class="mb-0 font-13">Wedding IOS App</h6>
                    <p class="m-0 font-12">
                      Assigned to<span class="col-green font-weight-bold"> John Doe</span>
                    </p>
                  </td>
                  <td>19-05-2019</td>
                  <td class="text-truncate">
                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-2.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Wildan Ahdian"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-10.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="John Deo"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-4.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Sarah Smith"></li>
                      <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                    </ul>
                  </td>
                  <td>
                    <div class="badge-outline col-red">High</div>
                  </td>
                  <td class="align-middle">
                    <div class="progress-text">45%</div>
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-cyan" data-width="45%"></div>
                    </div>
                  </td>
                  <td>
                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i
                        class="fas fa-pencil-alt"></i></a>
                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i
                        class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="table-img"><img src="assets/img/users/user-10.png" alt="">
                  </td>
                  <td>
                    <h6 class="mb-0 font-13">Blize Admin Template</h6>
                    <p class="m-0 font-12">
                      Assigned to<span class="col-green font-weight-bold"> Ashton Cox</span>
                    </p>
                  </td>
                  <td>25-07-2019</td>
                  <td class="text-truncate">
                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-1.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Wildan Ahdian"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-5.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="John Deo"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-7.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Sarah Smith"></li>
                      <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                    </ul>
                  </td>
                  <td>
                    <div class="badge-outline col-blue">Medium</div>
                  </td>
                  <td class="align-middle">
                    <div class="progress-text">67%</div>
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-red" data-width="67%"></div>
                    </div>
                  </td>
                  <td>
                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i
                        class="fas fa-pencil-alt"></i></a>
                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i
                        class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="table-img"><img src="assets/img/users/user-4.png" alt="">
                  </td>
                  <td>
                    <h6 class="mb-0 font-13">React js website</h6>
                    <p class="m-0 font-12">
                      Assigned to<span class="col-green font-weight-bold"> Sarah Smith </span>
                    </p>
                  </td>
                  <td>11-08-2019</td>
                  <td class="text-truncate">
                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-5.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Wildan Ahdian"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-8.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="John Deo"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-3.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Sarah Smith"></li>
                      <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                    </ul>
                  </td>
                  <td>
                    <div class="badge-outline col-green">Low</div>
                  </td>
                  <td class="align-middle">
                    <div class="progress-text">41%</div>
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-orange" data-width="41%"></div>
                    </div>
                  </td>
                  <td>
                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i
                        class="fas fa-pencil-alt"></i></a>
                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i
                        class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="table-img"><img src="assets/img/users/user-10.png" alt="">
                  </td>
                  <td>
                    <h6 class="mb-0 font-13">SEO improvement</h6>
                    <p class="m-0 font-12">
                      Assigned to<span class="col-green font-weight-bold"> Janak Gandhi</span>
                    </p>
                  </td>
                  <td>22-02-2018</td>
                  <td class="text-truncate">
                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-3.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Wildan Ahdian"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-9.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="John Deo"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-1.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Sarah Smith"></li>
                      <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                    </ul>
                  </td>
                  <td>
                    <div class="badge-outline col-red">High</div>
                  </td>
                  <td class="align-middle">
                    <div class="progress-text">70%</div>
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-success" data-width="70%"></div>
                    </div>
                  </td>
                  <td>
                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i
                        class="fas fa-pencil-alt"></i></a>
                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i
                        class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="table-img"><img src="assets/img/users/user-6.png" alt="">
                  </td>
                  <td>
                    <h6 class="mb-0 font-13">Laravel Website</h6>
                    <p class="m-0 font-12">
                      Assigned to<span class="col-green font-weight-bold"> Mili Rain</span>
                    </p>
                  </td>
                  <td>31-03-2019</td>
                  <td class="text-truncate">
                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-4.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Wildan Ahdian"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-7.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="John Deo"></li>
                      <li class="team-member team-member-sm"><img class="rounded-circle"
                          src="assets/img/users/user-2.png" alt="user" data-toggle="tooltip" title=""
                          data-original-title="Sarah Smith"></li>
                      <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span></li>
                    </ul>
                  </td>
                  <td>
                    <div class="badge-outline col-green">Low</div>
                  </td>
                  <td class="align-middle">
                    <div class="progress-text">55%</div>
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-purple" data-width="55%"></div>
                    </div>
                  </td>
                  <td>
                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i
                        class="fas fa-pencil-alt"></i></a>
                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i
                        class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
</div>

{% endblock %}

{% block chart_1 %}
     <!-- Page Specific JS File -->
     <script src="{% static 'assets/bundles/apexcharts/apexcharts.min.js' %}"></script>

     <script src="{% static 'assets/bundles/amcharts4/core.js' %}"></script>
     <script src="{% static 'assets/bundles/amcharts4/charts.js' %}"></script>

     <script src="{% static 'assets/bundles/amcharts4/animated.js' %}"></script>
     <script src="{% static 'assets/bundles/jquery.sparkline.min.js' %}"></script>
     <script>


      
function chartrev() {
  var options = {
      chart: {
          height: 240,
          type: "line",
          zoom: {
              enabled: !1
          }
          ,
          toolbar: {
              show: !1
          }
      }
      ,
      dataLabels: {
          enabled: !1
      }
      ,
      stroke: {
          width: 3, curve: "smooth", dashArray: [0, 8]
      }
      ,
      series: [{
          name: {{ last_year }}, data: [{% for c in physio_session_last_year %} {{ c }},{% endfor %}]
      }
          ,
      {
          name: {{current_year }}, type: "area", data: [{% for c in physio_session_current_year %} {{ c }},{% endfor %}]
      }
      ],
      colors: ["#8793ea",
          "#4caf50"],
      //      colors: ["#3dc7be", "#ffa117"],
      fill: {
          opacity: [1, .15]
      }
      ,
      markers: {
          size: 0,
          hover: {
              sizeOffset: 6
          }
      }
      ,
      xaxis: {
          categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          labels: {
              style: {
                  colors: '#8e8da4',
              }
          },
      },
      yaxis: {
          labels: {
              style: {
                  color: '#8e8da4',
              }
          }
      },
      grid: {
          borderColor: "#f1f1f1"
      }
  }

      ;

  var chart = new ApexCharts(document.querySelector("#revenue1"), options);

  chart.render();
}
chartrev();
function pieChart() {
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end

  // Create chart instance
  var chart = am4core.create("pieChart", am4charts.PieChart);

  // Add data
  chart.data = [
  {% for w in ward %}
  
  {
    "country": "{{ w.name }}",
    "litres": "{{ w.physiosession_set.all.count }}"
  },
  
  {% endfor %}
  
  ];

  // Add and configure Series
  var pieSeries = chart.series.push(new am4charts.PieSeries());
  pieSeries.dataFields.value = "litres";
  pieSeries.dataFields.category = "country";
  pieSeries.slices.template.stroke = am4core.color("#fff");
  pieSeries.slices.template.strokeWidth = 2;
  pieSeries.slices.template.strokeOpacity = 1;
  pieSeries.labels.template.fill = am4core.color("#8e8da4");

  // This creates initial animation
  pieSeries.hiddenState.properties.opacity = 1;
  pieSeries.hiddenState.properties.endAngle = -90;
  pieSeries.hiddenState.properties.startAngle = -90;
}
pieChart();
function barChartWithImg() {
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end

  // Create chart instance
  var chart = am4core.create("barImg", am4charts.XYChart);

  // Add data
  chart.data = [
  {% for t in  therapist %}
  {
    "name": "{{ t.name }}",
    "points": "{{ t.physiosession_set.all.count }}",
    "color": chart.colors.next(),
    "bullet": "assets/img/users/user1-round.png"
  },
   
   {% endfor %}
  
  
  {
    "name": "John",
    "points": 35654,
    "color": chart.colors.next(),
    "bullet": "assets/img/users/user1-round.png"
  }, {
    "name": "Damon",
    "points": 65456,
    "color": chart.colors.next(),
    "bullet": "assets/img/users/user2-round.png"
  }, {
    "name": "Patrick",
    "points": 45724,
    "color": chart.colors.next(),
    "bullet": "assets/img/users/user3-round.png"
  }, {
    "name": "Sarah",
    "points": 13654,
    "color": chart.colors.next(),
    "bullet": "assets/img/users/user4-round.png"
  },
  {
    "name": "Pooja",
    "points": 32589,
    "color": chart.colors.next(),
    "bullet": "assets/img/users/user5-round.png"
  },
  {
    "name": "jatin",
    "points": 45895,
    "color": chart.colors.next(),
    "bullet": "assets/img/users/user6-round.png"
  },
  ];

  // Create axes
  var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
  categoryAxis.dataFields.category = "name";
  categoryAxis.renderer.grid.template.disabled = true;
  categoryAxis.renderer.minGridDistance = 30;
  categoryAxis.renderer.inside = true;
  categoryAxis.renderer.labels.template.fill = am4core.color("#fff");
  categoryAxis.renderer.labels.template.fontSize = 14;

  var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
  valueAxis.renderer.grid.template.strokeDasharray = "4,4";
  valueAxis.renderer.labels.template.disabled = true;
  valueAxis.min = 0;

  // Do not crop bullets
  chart.maskBullets = false;

  // Remove padding
  chart.paddingBottom = 0;

  // Create series
  var series = chart.series.push(new am4charts.ColumnSeries());
  series.dataFields.valueY = "points";
  series.dataFields.categoryX = "name";
  series.columns.template.propertyFields.fill = "color";
  series.columns.template.propertyFields.stroke = "color";
  series.columns.template.column.cornerRadiusTopLeft = 15;
  series.columns.template.column.cornerRadiusTopRight = 15;
  series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/b]";

  // Add bullets
  var bullet = series.bullets.push(new am4charts.Bullet());
  var image = bullet.createChild(am4core.Image);
  image.horizontalCenter = "middle";
  image.verticalCenter = "bottom";
  image.dy = 20;
  image.y = am4core.percent(100);
  image.propertyFields.href = "bullet";
  image.tooltipText = series.columns.template.tooltipText;
  image.propertyFields.fill = "color";
  image.filters.push(new am4core.DropShadowFilter());
}
barChartWithImg();
     </script>

{% endblock %}




